@charset "UTF-8";
@font-face {
  font-family: "shrikhand";
  src: url("Base/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("Base/fonts/Roboto-Regular.ttf") format("truetype");
}
* {
  font-family: roboto, verdana;
}

h1 {
  font-family: shrikhand, verdana;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

p {
  color: #343434;
}

button {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  border: 0px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px lightgrey;
  color: white;
  padding: 10px 15px 10px 15px;
  width: 200px;
  align-self: center;
}
button:hover {
  cursor: pointer;
  opacity: 85%;
  box-shadow: 2px 3px 8px grey;
}

i {
  color: #7e7e7e;
  padding-right: 20px;
  font-size: 1.2em;
}

.fa-heart {
  font-size: 1.5em;
  width: 5px;
}

.coeur_accueil {
  cursor: pointer;
}
.coeur_accueil .coeur_accueil_vide {
  position: relative;
  top: -30px;
  left: 350px;
}
.coeur_accueil .coeur_accueil_plein {
  position: relative;
  top: -30px;
  left: 321px;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 400ms ease-in;
}
.coeur_accueil:active > .coeur_accueil_plein {
  transform: scale(1);
}
.coeur_accueil:active > .coeur_accueil_vide {
  opacity: 0;
  transition: opacity 3000ms;
}

.coeur_menu {
  cursor: pointer;
  font-size: 1.2em;
}
.coeur_menu .coeur_menu_vide {
  transform: scale(1);
}
.coeur_menu .coeur_menu_plein {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 400ms ease-in;
}
.coeur_menu:active > .coeur_menu_plein {
  transform: scale(1);
}
.coeur_menu:active > .coeur_menu_vide {
  opacity: 0;
  transform: scale(0.7);
  transition: all 2900ms;
}

.fa-arrow-left {
  color: #343434;
  font-size: 0.8em;
  position: relative;
  left: -70px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 5px 0 5px 0;
  text-align: left;
  width: 100%;
}
footer i {
  font-size: 0.8em;
  width: 3px;
  color: white;
}
footer h1 {
  font-size: 1.3em;
  margin-left: 20px;
  margin-top: 15px;
}
footer Li {
  list-style-type: none;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
}
footer a {
  color: white;
}

@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
header h1 {
  margin: 10px 0;
}

#body_accueil {
  width: 375px;
  margin: auto;
}
#body_accueil #bg__loading_spinner {
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 2285px;
  z-index: 2;
  -webkit-animation: bg_fading 0.9s forwards 3s;
  animation: bg_fading 0.9s forwards 3s;
}
#body_accueil #bg__loading_spinner .loader {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-top: 45vh;
  position: relative;
}
#body_accueil #bg__loading_spinner .loader-quart {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
  -webkit-animation: spin 2s linear 0s 3;
  animation: spin 2s linear 0s 3;
}
#body_accueil #bg__loading_spinner .loader-quart:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  margin: auto;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  -webkit-animation: spinreverse 1s linear 0s 6;
  animation: spinreverse 1s linear 0s 6;
}
#body_accueil #presentation {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
  width: 100%;
}
#body_accueil #presentation .presentation__localisation {
  background-color: #eaeaea;
  box-shadow: inset 0 10px 8px -10px #8d8d8d;
  display: flex;
  justify-content: center;
  height: 50px;
}
#body_accueil #presentation .presentation__localisation input {
  font-size: 1.1em;
  height: 30px;
  width: 160px;
  background-color: #eaeaea;
  color: #3e3e3e;
  border: 1px #eaeaea solid;
  padding-left: 15px;
  position: relative;
  left: -15px;
  top: 10px;
}
#body_accueil #presentation .presentation__localisation input:focus {
  outline: none;
  color: #3e3e3e;
}
#body_accueil #presentation .presentation__localisation .fa-map-marker-alt {
  position: relative;
  top: 15px;
  left: 5px;
}
#body_accueil #presentation .presentation__menu {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}
#body_accueil #presentation button {
  margin-top: 20px;
  margin-bottom: 50px;
}
#body_accueil #fonctionnement {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
}
#body_accueil #fonctionnement h2 {
  text-align: left;
  margin-left: 20px;
}
#body_accueil #fonctionnement .fonctionnement__button {
  background: none;
  background-color: #f6f6f6;
  color: black;
  font-size: 1em;
  max-width: none;
  width: 320px;
  padding: 25px 20px 25px 0;
  margin-bottom: 20px;
}
#body_accueil #fonctionnement i {
  position: relative;
  left: -15px;
  font-size: 1.4em;
  padding-right: 10px;
}
#body_accueil #fonctionnement .fa-list-ul {
  font-size: 1.1em;
  margin-left: -15px;
  padding-right: 5px;
}
#body_accueil #fonctionnement .fa-store {
  font-size: 1em;
  margin-left: -15px;
  padding-right: 8px;
}
#body_accueil #fonctionnement span {
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  padding: 3px 9px 3px 9px;
}
#body_accueil #fonctionnement .fonctionnement__1 {
  position: relative;
  left: -45px;
}
#body_accueil #fonctionnement .fonctionnement__2 {
  position: relative;
  left: -63px;
}
#body_accueil #fonctionnement .fonctionnement__3 {
  position: relative;
  left: -55px;
}
#body_accueil #fonctionnement .fonctionnement__button:hover {
  background-color: #f5edff;
  opacity: 1;
}
#body_accueil #fonctionnement .fonctionnement__button:hover i {
  color: #9356dc;
}
#body_accueil #restaurants {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
}
#body_accueil #restaurants h2 {
  text-align: left;
  margin: 0;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#body_accueil #restaurants .restaurants__choix {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
#body_accueil #restaurants .restaurants__choix article {
  box-shadow: 2px 3px 4px lightgrey;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-around;
  height: 240px;
  width: 335px;
}
#body_accueil #restaurants .restaurants__choix article .restaurants__pictures {
  margin: 0;
}
#body_accueil #restaurants .restaurants__choix article .restaurants__pictures img {
  border-radius: 15px 15px 0px 0px;
  width: 335px;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
}
#body_accueil #restaurants .restaurants__choix article .new {
  background-color: #99e2d0;
  color: #31a488;
  width: 60px;
  height: 20px;
  padding: 5px 8px 5px 8px;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  top: -205px;
  left: 245px;
}
#body_accueil #restaurants .restaurants__choix article h3 {
  margin: 10px 0 4px 15px;
  font-size: 1.2em;
}
#body_accueil #restaurants .restaurants__choix article p {
  margin: 0 0 -3px 15px;
  font-size: 1.1em;
}
#body_accueil #restaurants .restaurants__choix .coeur_accueil_vide {
  position: relative;
  left: 140px;
  top: -75px;
}
#body_accueil #restaurants .restaurants__choix .coeur_accueil_plein {
  position: relative;
  left: 111px;
  top: -75px;
}
#body_accueil footer h1 {
  font-size: 1.1em;
  text-align: left;
}
#body_accueil footer Li {
  font-size: 0.9em;
  width: 250px;
  margin-left: -35px;
}

@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
#body_menu {
  width: 375px;
  margin: auto;
}
#body_menu header .fa-arrow-left {
  position: relative;
  left: -50px;
}
#body_menu #carte {
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
#body_menu #carte .menu__pictures {
  text-align: center;
  position: relative;
  top: -15px;
}
#body_menu #carte .menu__pictures img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 280px;
  margin-top: 5px;
}
#body_menu #carte .coeur_menu .coeur_menu_vide {
  position: relative;
  top: -52px;
  left: 315px;
  z-index: 2;
}
#body_menu #carte .coeur_menu .coeur_menu_plein {
  position: relative;
  left: 285px;
  top: -52px;
  width: 10px;
  z-index: 2;
}
#body_menu #carte .menu__title {
  display: flex;
  justify-content: space-between;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  top: -120px;
  padding-top: 10px;
}
#body_menu #carte .menu__title h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: normal;
  padding-left: 20px;
}
#body_menu #carte .menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
  flex-direction: column;
  position: relative;
  top: -130px;
  margin-bottom: -90px;
}
#body_menu #carte .menu__composition {
  width: 100%;
}
#body_menu #carte .menu__composition h2 {
  font-size: 1.1em;
  font-weight: lighter;
  text-transform: uppercase;
  color: #343434;
  border-bottom: 3px #99e2d0 solid;
  width: 12%;
  margin-left: 20px;
}
#body_menu #carte .menu__composition article {
  cursor: pointer;
  box-shadow: 2px 3px 4px lightgrey;
  background-color: white;
  width: 315px;
  border-radius: 20px;
  padding: 5px 5px 8px 30px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 60px;
  overflow: hidden;
}
#body_menu #carte .menu__composition article h3 {
  margin: 5px 0 5px 0;
  font-size: 1.1em;
}
#body_menu #carte .menu__composition article h3,
#body_menu #carte .menu__composition article .menu__description {
  position: relative;
  left: -20px;
  width: 300px;
}
#body_menu #carte .menu__composition article .menu__detail {
  display: flex;
  justify-content: space-between;
  width: 420px;
}
#body_menu #carte .menu__composition article .menu__detail p {
  margin: 0 0 -3px 0;
  font-size: 0.9em;
}
#body_menu #carte .menu__composition article .menu__detail .menu__description {
  width: 280px;
  white-space: nowrap;
  position: relative;
  bottom: -5px;
}
#body_menu #carte .menu__composition article .menu__prix {
  font-weight: bold;
  position: relative;
  top: 5px;
  transform: translateX(-40px);
  transition: transform 400ms ease-in;
}
#body_menu #carte .menu__composition article .valider {
  background-color: #99e2d0;
  height: 76px;
  width: 62px;
  position: relative;
  top: -40px;
  left: -77px;
  transform: translateX(40px);
  transition: transform 400ms ease-in;
}
#body_menu #carte .menu__composition article .valider .check {
  font-size: 1.4em;
  width: 0;
  border-radius: 50px;
  position: relative;
  top: 30px;
  left: 22px;
  color: white;
  transition: transform 500ms ease-in;
}
#body_menu #carte .menu__composition article:hover .menu__prix {
  position: relative;
  left: 40px;
  transform: translateX(-100px);
}
#body_menu #carte .menu__composition article:hover .valider {
  transform: translateX(-22px);
}
#body_menu #carte .menu__composition article:hover .valider .check {
  transform: rotate(360deg);
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
#body_menu #carte .menu__composition article:hover .menu__description,
#body_menu #carte .menu__composition article:hover h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 205px;
  white-space: nowrap;
}
#body_menu #carte .menu__composition .menu__nom--long {
  height: 80px;
}
#body_menu #carte .menu__composition .menu__nom--long .menu__prix {
  position: relative;
  top: -2px;
}
#body_menu #carte .menu__composition .menu__nom--long .valider {
  height: 100px;
  position: relative;
  top: -68px;
}
#body_menu #carte .menu__composition .menu__nom--long .valider .check {
  position: relative;
  top: 42px;
}
#body_menu #carte .menu__composition .menu__nom--long h3 {
  width: 280px;
}
#body_menu #carte .menu__composition .menu__nom--long:hover .menu__description {
  position: relative;
  top: 28px;
}
#body_menu #carte .menu__composition .menu__nom--long:hover .menu__prix {
  position: relative;
  top: 21px;
}
#body_menu #carte .menu__composition .menu__nom--long:hover .valider {
  position: relative;
  top: -45px;
}
#body_menu #carte button {
  width: 210px;
  height: 60px;
  font-size: 1.1em;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#body_menu #carte .menu__entrées {
  -webkit-animation: menu 1.4s forwards;
  animation: menu 1.4s forwards;
}
#body_menu #carte .menu__plats {
  opacity: 0;
  -webkit-animation: menu 1.4s forwards 1s;
  animation: menu 1.4s forwards 1s;
}
#body_menu #carte .menu__desserts {
  opacity: 0;
  -webkit-animation: menu 1.4s forwards 2s;
  animation: menu 1.4s forwards 2s;
}
#body_menu footer h1 {
  font-size: 1.1em;
  text-align: left;
}
#body_menu footer Li {
  font-size: 0.9em;
  width: 250px;
  margin-left: -35px;
}

@media screen and (min-width: 768px) {
  #body_accueil {
    width: 768px;
  }
  #body_accueil #bg__loading_spinner {
    height: 1779px;
  }
  #body_accueil #presentation {
    width: 480px;
    border-radius: 25px;
  }
  #body_accueil #presentation .presentation__localisation {
    border-radius: 25px 25px 0 0;
  }
  #body_accueil #fonctionnement {
    width: 480px;
  }
  #body_accueil #fonctionnement h2 {
    text-align: center;
    margin: 40px 0;
  }
  #body_accueil #fonctionnement .fonctionnement__button {
    margin-bottom: 25px;
  }
  #body_accueil #restaurants {
    border-radius: 15px 15px 0 0;
    height: 700px;
  }
  #body_accueil #restaurants h2 {
    text-align: center;
  }
  #body_accueil #restaurants .restaurants__choix {
    margin-right: 0;
    height: 650px;
  }
  #body_accueil #restaurants .restaurants__choix article {
    position: relative;
    left: 25px;
    width: 300px;
    margin-bottom: 30px;
  }
  #body_accueil #restaurants .restaurants__choix article .restaurants__pictures img {
    width: 300px;
  }
  #body_accueil #restaurants .restaurants__choix article h3 {
    font-size: 1.3em;
  }
  #body_accueil #restaurants .restaurants__choix article p {
    font-size: 1.2em;
  }
  #body_accueil #restaurants .restaurants__choix article .new {
    position: relative;
    left: 200px;
  }
  #body_accueil #restaurants .restaurants__choix .coeur_accueil .coeur_accueil_vide {
    position: relative;
    left: -65px;
    top: 195px;
  }
  #body_accueil #restaurants .restaurants__choix .coeur_accueil .coeur_accueil_plein {
    position: relative;
    left: -94px;
    top: 195px;
  }
  #body_accueil footer h1 {
    font-size: 1.5em;
  }
  #body_accueil footer li {
    margin-left: -40px;
    font-size: 1em;
  }
}
@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  #body_menu {
    width: 760px;
  }
  #body_menu #carte img {
    height: 330px;
  }
  #body_menu #carte .coeur_menu .coeur_menu_vide {
    font-size: 1.5em;
    position: relative;
    left: 680px;
    top: -50px;
  }
  #body_menu #carte .coeur_menu .coeur_menu_plein {
    font-size: 1.5em;
    position: relative;
    left: 651px;
    top: -50px;
  }
  #body_menu #carte .menu__title h1 {
    margin: auto;
    padding-top: 20px;
  }
  #body_menu #carte .menu .menu__composition h2 {
    margin: auto;
    margin-top: 20px;
  }
  #body_menu #carte .menu article {
    height: 55px;
  }
  #body_menu #carte .menu article h3 {
    font-size: 1em;
    margin-left: 25px;
  }
  #body_menu #carte .menu article .menu__detail .menu__description {
    font-size: 0.9em;
    margin-left: 25px;
  }
  #body_menu #carte .menu article .menu__detail .menu__prix {
    margin-left: -15px;
    position: relative;
    top: -12px;
    font-size: 1em;
  }
  #body_menu #carte .menu .menu__nom--long {
    height: 55px;
  }
  #body_menu #carte .menu .menu__nom--long .valider {
    height: 80px;
    position: relative;
    top: -45px;
    left: -78px;
  }
  #body_menu #carte .menu .menu__nom--long .valider .check {
    position: relative;
    top: 35px;
    left: 20px;
  }
  #body_menu #carte .menu .menu__nom--long:hover .valider {
    position: relative;
    top: -45px;
  }
  #body_menu #carte .menu .menu__nom--long:hover .menu__description {
    position: relative;
    top: 0px;
  }
  #body_menu #carte .menu .menu__nom--long:hover .menu__prix {
    position: relative;
    top: -12px;
  }
  #body_menu #carte .menu button {
    width: 300px;
    font-size: 1.4em;
  }
  #body_menu footer h1 {
    font-size: 1.5em;
  }
  #body_menu footer li {
    margin-left: -40px;
    font-size: 1em;
  }
}
@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  #body_accueil {
    width: 1200px;
  }
  #body_accueil #bg__loading_spinner {
    height: 1922px;
  }
  #body_accueil #restaurants {
    height: 800px;
    padding-bottom: 40px;
  }
  #body_accueil #restaurants h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.7em;
  }
  #body_accueil #restaurants .restaurants__choix article {
    border-radius: 15px;
    margin: auto;
    margin-bottom: 80px;
    justify-content: space-around;
    height: 300px;
    width: 430px;
  }
  #body_accueil #restaurants .restaurants__choix article h3 {
    font-size: 1.4em;
  }
  #body_accueil #restaurants .restaurants__choix article p {
    font-size: 1.3em;
  }
  #body_accueil #restaurants .restaurants__choix article .restaurants__pictures {
    margin: 0;
  }
  #body_accueil #restaurants .restaurants__choix article .restaurants__pictures img {
    border-radius: 15px 15px 0px 0px;
    width: 430px;
    height: 214px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #body_accueil #restaurants .restaurants__choix article .new {
    width: 90px;
    height: 30px;
    font-size: 1.1em;
    position: relative;
    top: -255px;
    left: 310px;
  }
  #body_accueil #restaurants .restaurants__choix .coeur_accueil {
    font-size: 1.4em;
  }
  #body_accueil #restaurants .restaurants__choix .coeur_accueil .coeur_accueil_vide {
    position: relative;
    top: 240px;
    left: -130px;
    width: 15px;
  }
  #body_accueil #restaurants .restaurants__choix .coeur_accueil .coeur_accueil_plein {
    position: relative;
    top: 240px;
    left: -170px;
    width: 15px;
  }
}
@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  #body_menu {
    width: 1200px;
  }
  #body_menu #carte img {
    height: 330px;
  }
  #body_menu #carte .coeur_menu .coeur_menu_vide {
    font-size: 2.5em;
    position: relative;
    left: 1098px;
    top: -40px;
  }
  #body_menu #carte .coeur_menu .coeur_menu_plein {
    font-size: 2.5em;
    position: relative;
    top: -40px;
    left: 1069px;
    width: 30px;
  }
  #body_menu #carte .menu__title {
    padding-top: 20px;
  }
  #body_menu #carte .menu__title h1 {
    font-size: 2.5em;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    left: 35px;
  }
  #body_menu #carte .menu {
    flex-direction: row;
    height: 520px;
  }
  #body_menu #carte .menu article {
    margin-bottom: 20px;
    height: 60px;
  }
  #body_menu #carte .menu article .menu__description {
    position: relative;
    top: 8px;
  }
  #body_menu #carte .menu article .menu__prix {
    padding-top: 4px;
  }
  #body_menu #carte .menu article .menu__entrées {
    -webkit-animation: menu_desktop 1.8s forwards;
    animation: menu_desktop 1.8s forwards;
  }
  #body_menu #carte .menu article .valider {
    padding-bottom: 4px;
  }
  #body_menu #carte .menu article .menu__plats {
    -webkit-animation: menu_desktop 2s forwards 0.7s;
    animation: menu_desktop 2s forwards 0.7s;
  }
  #body_menu #carte .menu article .menu__desserts {
    -webkit-animation: menu_desktop 2.2s forwards 1s;
    animation: menu_desktop 2.2s forwards 1s;
  }
  #body_menu #carte .menu .menu__nom--long {
    height: 60px;
  }
  #body_menu #carte .menu .menu__nom--long .menu__prix {
    padding-top: 8px;
  }
  #body_menu #carte .menu .menu__nom--long .valider {
    height: 85px;
    position: relative;
    top: -40px;
  }
  #body_menu #carte .menu .menu__nom--long:hover .valider {
    position: relative;
    top: -40px;
  }
  #body_menu #carte .menu .menu__nom--long:hover .menu__description {
    position: relative;
    top: 8px;
  }
  #body_menu #carte .menu button {
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 350px;
  }
}
@-webkit-keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu_desktop {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bg_fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */