@import "../Utils/variables";
@import "../Utils/mixins";
#body_menu { 
    width: 480px;
    margin: auto;
    footer {
        li {
            margin-left: -40px;
        }
    }
}
#carte {
    background-color: $fond;
    padding-bottom: 50px;

    .menu__pictures {
        text-align: center;
        position: relative;
        top: -15px;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 330px;
    }

    .menu__title {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        border-radius: 50px 50px 0px 0px;
        background-color: $fond;
        position: relative;
        top: -90px;

        h1 {
            text-align: center;
            width: 480px;
        }
    }

    .menu {
        @include box;
        position: relative;
        top: -90px;
        margin-bottom: -90px;
        #menu_bouton_commander {
            margin-top: 40px;
        }
    }

    .menu__composition {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-weight: lighter;
            text-transform: uppercase;
            color: $texte;
            border-bottom: 3px $couleur-tertiaire solid;
            width: 12%;
            margin-left: 20px;
        }

        article {
            @include article;
            border-radius: 20px;
            padding: 10px 15px 10px 15px;
            margin: 10px 0 10px 0;
            align-self: center;
            height: 60px;
            text-align: left;
            overflow: hidden;

            h3 {
                margin: 5px 0 5px 0;
            }
            .menu__prix {
                font-weight: bold;
                position: relative;
                left: 90px;
                transform: translateX(0px);
                transition: transform 400ms ease-in;
            }

            .valider {
                background-color: $couleur-tertiaire;
                border-radius: 0 15px 15px 0;
                height: 80px;
                width: 70px;
                position: relative;
                top: -45px;
                left: 25px;
                transform: translateX(70px);
                transition: transform 400ms ease-in;

                .check {
                    width: 0;
                    border-radius: 50px;
                    position: relative;
                    top: 30px;
                    left: 20px;
                    color: white;
                    rotate: 90deg;
                    transition: transform 500ms ease-in;
                }
            }

            &:hover {
                cursor: pointer;
                .menu__prix {
                    transform: translateX(-70px);
                }

                .valider {
                    transform: translateX(0);
                    .check {
                        transform: rotate(270deg);
                        animation-delay: 100ms; 
                    }
                }

                .menu__nom,
                h3 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .menu__detail {
                display: flex;
                justify-content: space-between;
                width: 420px;

                p {
                    margin: 0 0 -3px 0;
                    font-size: 1.2em;
                }

                .menu__nom {

                    width: 280px;
                    white-space: nowrap;
                }
            }
        }
    }
}