@import "../Utils/variables";
@import "../Utils/mixins";
#carte {
    background-color: $fond;
    width: 480px;
    margin: auto;
    margin-top: -15px;
    margin-bottom: -50px;
    .menu__pictures {
        text-align: center;
    }
    img {
        width: 480px;
        object-fit: cover;
        height: 320px;
    }
    .menu__title {
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        border-radius: 50px 50px 0px 0px;
        background-color: $fond;
        position: relative;
        top: -75px;
        h1 {
            text-align: center;
            width: 480px;
        }
    }
    .menu {
        @include box;
        width: 480px;
        position: relative;
        top: -75px;
        margin-top: -20px;
    }
    .menu__composition {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2 {
            font-weight: lighter;
            text-transform: uppercase;
            color: #747474;
            border-bottom: 3px $couleur-tertiaire solid;
            width: 60px;
            margin-left: 20px;
        }
        .menu__button {
            background: none;
            color: black;
            background-color: white;
            width: 430px;
            height: 80px;
            text-align: left;
            margin-bottom: 10px;
            word-wrap: break-word;
        }
        h3 {
            margin: 5px 0 5px 0;
        }
        .menu__detail {
            display: flex;
            justify-content: space-between;
        }
        
        p {
            margin: 0 0 -3px 0;
            font-size: 1.2em;
        }
        .menu__prix {
            color: #333333;
            font-weight: bold;           
        }
    }
    #menu_commander {
        margin-top: 40px;
    }
}
