@import "../Utils/variables";
@import "../Utils/mixins";
@font-face {
    font-family: 'shrikhand';
    src: url('Base/fonts/Shrikhand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url('Base/fonts/Roboto-Regular.ttf') format('truetype');
}
* {
    font-family: roboto, verdana;
  }
  
h1{
    font-family: shrikhand, verdana;
  }