@import "../Utils/variables";
@import "../Utils/mixins";
i {
    color: #8d8d8d;
    padding-right: 20px;
    font-size: 1.2em;
}
.icone_telephone{
    position: relative;
    left: 5px;
}
.coeur_accueil{
    position: relative;
    top: -30px;
    left: 350px;
    font-size: 1.5em;
    width: 5px;
}
/*.coeur_accueil:hover{
    color: $couleur-primaire;
    background:linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
} 
-> survol
.coeur_accueil:active{
    background:linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
}
-> clic*/
.fa-arrow-left{
    color: black;
    font-size: 0.8em;
}