@import "../Utils/variables";
@import "../Utils/mixins";

i {
    color: $texte;
    padding-right: 20px;
    font-size: 1.2em;
}

.icone_telephone {
    position: relative;
    left: 5px;
}

.fa-heart {
    font-size: 1.5em;
    width: 5px;
}

.coeur_accueil_vide {
    position: relative;
    top: -30px;
    left: 350px;

    &:hover {
        color: transparent;
    }
}
.coeur_accueil_plein {
    position: relative;
    top: -30px;
    left: 325px;
    color: transparent;
    z-index: 1;

    &:hover {
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.coeur_menu_vide {
    position: relative;
    top: 30px;
    left: -30px;
    &:hover /*:active pour clic*/{
        color: transparent;
    }
}

.coeur_menu_plein {
    position: relative;
    top: 30px;
    left: -55px;
    color: transparent;
    z-index: 1;

    &:hover {
        cursor: pointer;
        background: linear-gradient(360deg, $couleur-secondaire 60%, $couleur-primaire 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/* https://www.djwebcreator.fr/css/des-effets-de-remplissage-en-css/*/

.fa-arrow-left {
    color: $texte;
    ;
    font-size: 0.8em;
    position: relative;
    left: -70px;
}