@import "../Utils/variables";
@import "../Utils/mixins";

footer {
    background-color: #353535;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    i {
        font-size: 0.8em;
        width: 3px;
        color: white;
    }
    h4 {
        font-size: 1.3em;
    }
    Li {
        list-style-type: none;
        padding-bottom: 10px;
        width: 100%;
    }
    a{
        color: white;
    }
}
