footer {
    background-color: #353535;
    color: white;
    padding: 5px 0 5px 0;
    text-align: left;
    width: 100%;
    i {
        font-size: 0.8em;
        width: 3px;
        color: white;
    }
    h1 {
        font-size: 1.3em;
        margin-left: 20px;
        margin-top: 15px;
    }
    Li {
        list-style-type: none;
        padding-bottom: 10px;       
        padding-left: 20px;
        width: 100%;
    }
    a{
        color: white;
    }
}
