@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";
#body_menu {
    width: 375px;
    margin: auto;
    header {
        .fa-arrow-left {
            position: relative;
            left: -50px;
        }
    }
    #carte {
        background-color: $fond;
        padding-bottom: 20px;
        .menu__pictures {
            text-align: center;
            position: relative;
            top: -15px;
            img {
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                height: 280px;
                margin-top: 5px;
            }
        }
        .coeur_menu {
            .coeur_menu_vide {
                position: relative;
                top: -52px;
                left: 315px;
                z-index: 2;
            }
            .coeur_menu_plein {
                position: relative;
                left: 285px;
                top: -52px;
                width: 10px;
                z-index: 2;
            }
        }
        .menu__title {
            display: flex;
            justify-content: space-between;
            border-radius: 50px 50px 0px 0px;
            background-color: $fond;
            position: relative;
            top: -120px;
            padding-top: 10px;
            h1 {
                text-align: center;
                font-size: 1.8em;
                font-weight: normal;
                padding-left: 20px;
            }
        }
        .menu {
            @include box;
            flex-direction: column;
            position: relative;
            top: -130px;
            margin-bottom: -90px;
        }

        .menu__composition {
            width: 100%;
            h2 {
                font-size: 1.1em;
                font-weight: lighter;
                text-transform: uppercase;
                color: $texte;
                border-bottom: 3px $couleur-tertiaire solid;
                width: 12%;
                margin-left: 20px;
            }
            article {
                cursor: pointer;
                @include article;
                width: 315px;
                border-radius: 20px;
                padding: 5px 5px 8px 30px;
                margin: auto;
                margin-top: 15px;
                margin-bottom: 15px;
                height: 60px;
                overflow: hidden;
                h3 {
                    margin: 5px 0 5px 0;
                    font-size: 1.1em;
                }
                h3,
                .menu__description {
                    position: relative;
                    left: -20px;
                    width: 300px;
                }
                .menu__detail {
                    display: flex;
                    justify-content: space-between;
                    width: 420px;
                    p {
                        margin: 0 0 -3px 0;
                        font-size: 0.9em;
                    }
                    .menu__description {
                        width: 280px;
                        white-space: nowrap;
                        position: relative;
                        bottom: -5px;
                    }
                }
                .menu__prix {
                    font-weight: bold;
                    position: relative;
                    top: 5px;
                    transform: translateX(-40px);
                    transition: transform 400ms ease-in;
                }
                .valider {
                    background-color: $couleur-tertiaire;
                    height: 76px;
                    width: 62px;
                    position: relative;
                    top: -40px;
                    left: -77px;
                    transform: translateX(40px);
                    transition: transform 400ms ease-in;
                    .check {
                        font-size: 1.4em;
                        width: 0;
                        border-radius: 50px;
                        position: relative;
                        top: 30px;
                        left: 22px;
                        color: white;
                        transition: transform 500ms ease-in;
                    }
                }
                &:hover {
                    .menu__prix {
                        position: relative;
                        left: 40px;
                        transform: translateX(-100px);
                    }
                    .valider {
                        transform: translateX(-22px);
                        .check {
                            transform: rotate(360deg);
                            -webkit-animation-delay: 100ms;
                            animation-delay: 100ms;
                        }
                    }
                    .menu__description,
                    h3 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 205px;
                        white-space: nowrap;
                    }
                }
            }
            .menu__nom--long {
                height: 80px;
                .menu__prix {
                    position: relative;
                    top: -2px;
                }

                .valider {
                    height: 100px;
                    position: relative;
                    top: -68px;
                    .check {
                        position: relative;
                        top: 42px;
                    }
                }
                h3 {
                    width: 280px;
                }
                &:hover {
                    .menu__description {
                        position: relative;
                        top: 28px;
                    }
                    .menu__prix {
                        position: relative;
                        top: 21px;
                    }
                    .valider {
                        position: relative;
                        top: -45px;
                    }
                }
            }
        }
        button {
            width: 210px;
            height: 60px;
            font-size: 1.1em;
            border-radius: 50px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        .menu__entrées {
            -webkit-animation: menu 1.4s forwards;
            animation: menu 1.4s forwards;
        }
        .menu__plats {
            opacity: 0;
            -webkit-animation: menu 1.4s forwards 1s;
            animation: menu 1.4s forwards 1s;
        }
        .menu__desserts {
            opacity: 0;
            -webkit-animation: menu 1.4s forwards 2s;
            animation: menu 1.4s forwards 2s;
        }
    }
    footer {
        h1 {
            font-size: 1.1em;
            text-align: left;
        }
        Li {
            font-size: 0.9em;
            width: 250px;
            margin-left: -35px;
        }
    }
}
