@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";
header {
    h1 {
        margin: 10px 0;
    }
}
#body_accueil {
    width: 375px;
    margin: auto;
    #bg__loading_spinner {
        background-color: white;
        position: absolute;
        top: 0;
        margin: 0;
        width: 375px;
        height: 2285px;
        z-index: 2;
        -webkit-animation: bg_fading 0.9s forwards 3s;
        animation: bg_fading 0.9s forwards 3s;
        .loader {
            width: 90px;
            height: 90px;
            display: inline-block;
            position: relative;
            left: 36%;
            top: 13%;
        }
        .loader-quart {
            border-radius: 50px;
            border: 6px solid transparent;
            border-top-color: $couleur-primaire;
            border-bottom-color: $couleur-primaire;
            -webkit-animation: spin 2s linear 0s 3;
            animation: spin 2s linear 0s 3;
        }
        .loader-quart:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            margin: auto;
            border-radius: 50px;
            border: 6px solid transparent;
            border-top-color: $couleur-secondaire;
            border-bottom-color: $couleur-secondaire;
            -webkit-animation: spinreverse 1s linear 0s 6;
            animation: spinreverse 1s linear 0s 6;
        }
    }
    #presentation {
        @include box;
        width: 100%;
        .presentation__localisation {
            background-color: $bg_form;
            box-shadow: inset 0 10px 8px -10px #8d8d8d;
            display: flex;
            justify-content: center;
            height: 50px;
            input {
                font-size: 1.1em;
                height: 30px;
                width: 160px;
                background-color: $bg_form;
                color: $form;
                border: 1px $bg_form solid;
                padding-left: 15px;
                position: relative;
                left: -15px;
                top: 10px;
                &:focus {
                    outline: none;
                    color: $form;
                }
            }
            .fa-map-marker-alt {
                position: relative;
                top: 15px;
                left: 5px;
            }
        }
        .presentation__menu {
            width: 75%;
            margin: auto;
            margin-top: 20px;
            text-align: center;
            word-wrap: break-word;
        }
        button {
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
    #fonctionnement {
        @include box;
        width: 100%;
        background-color: white;
        margin-bottom: 50px;
        h2 {
            text-align: left;
            margin-left: 20px;
        }
        .fonctionnement__button {
            background: none;
            background-color: $fond;
            color: black;
            font-size: 1em;
            max-width: none;
            width: 320px;
            padding: 25px 20px 25px 0;
            margin-bottom: 20px;
        }
        i {
            position: relative;
            left: -15px;
            font-size: 1.4em;
            padding-right: 10px;
        }
        .fa-list-ul {
            font-size: 1.1em;
            margin-left: -15px;
            padding-right: 5px;
        }
        .fa-store {
            font-size: 1em;
            margin-left: -15px;
            padding-right: 8px;
        }
        span {
            background-color: $couleur-primaire;
            color: white;
            border-radius: 20px;
            padding: 3px 9px 3px 9px;
        }
        .fonctionnement__1 {
            position: relative;
            left: -45px;
        }
        .fonctionnement__2 {
            position: relative;
            left: -63px;
        }
        .fonctionnement__3 {
            position: relative;
            left: -55px;
        }
        .fonctionnement__button:hover {
            background-color: #f5edff;
            opacity: 1;
            i {
                color: $couleur-primaire;
            }
        }
    }
    #restaurants {
        @include box;
        h2 {
            text-align: left;
            margin: 0;
            margin-top: 50px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .restaurants__choix {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 40px;
            article {
                @include article;
                border-radius: 15px;
                margin: auto;
                margin-bottom: 20px;
                justify-content: space-around;
                height: 240px;
                width: 335px;
                .restaurants__pictures {
                    margin: 0;
                    img {
                        border-radius: 15px 15px 0px 0px;
                        width: 335px;
                        height: 160px;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                .new {
                    background-color: #99e2d0;
                    color: #31a488;
                    width: 60px;
                    height: 20px;
                    padding: 5px 8px 5px 8px;
                    font-size: 0.9em;
                    font-weight: bold;
                    position: relative;
                    top: -205px;
                    left: 245px;
                }
                h3 {
                    margin: 10px 0 4px 15px;
                    font-size: 1.2em;
                }
                p {
                    margin: 0 0 -3px 15px;
                    font-size: 1.1em;
                }
            }
            .coeur_accueil_vide {
                position: relative;
                left: 140px;
                top: -75px;
            }
            .coeur_accueil_plein {
                position: relative;
                left: 111px;
                top: -75px;
            }
        }
    }
    footer {
        h1 {
            font-size: 1.1em;
            text-align: left;
        }
        Li {
            font-size: 0.9em;
            width: 250px;
            margin-left: -35px;
        }
    }
}
