@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";
@media screen and (min-width: 1200px) {
    #body_accueil {
        width: 1200px;
        #bg__loading_spinner {
            width: 1200px;
            height: 1922px;
            .loader {
                position: relative;
                top: 30%;
                left: 45%;
            }
        }
        #restaurants {
            height: 800px;
            padding-bottom: 40px;
            h2 {
                margin-top: 20px;
                margin-bottom: 40px;
                font-size: 1.7em;
            }
            .restaurants__choix {
                article {
                    border-radius: 15px;
                    margin: auto;
                    margin-bottom: 80px;
                    justify-content: space-around;
                    height: 300px;
                    width: 430px;
                    h3 {
                        font-size: 1.4em;
                    }
                    p {
                        font-size: 1.3em;
                    }
                    .restaurants__pictures {
                        margin: 0;
                        img {
                            border-radius: 15px 15px 0px 0px;
                            width: 430px;
                            height: 214px;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }
                    }
                    .new {
                        width: 90px;
                        height: 30px;
                        font-size: 1.1em;
                        position: relative;
                        top: -255px;
                        left: 310px;
                    }
                }
                .coeur_accueil {
                    font-size: 1.4em;
                    .coeur_accueil_vide {
                        position: relative;
                        top: 240px;
                        left: -150px;
                        width: 15px;
                    }
                    .coeur_accueil_plein {
                        position: relative;
                        top: 205px;
                        left: -150px;
                        width: 15px;
                    }
                }
            }
        }
    }
}
