@import "../Utils/variables";

@media screen and (max-width: 768px) {

    #reservation,
    #fonctionnement,
    footer {
        width: 100%;
        text-align: left;
    }

    #restaurants {
        width: 360px;
        margin-top: 30px;
        border-radius: 0px;

        .restaurants__choix {
            height: 1050px;

            article {
                width: 310px;
                height: 230px;

                img {
                    width: 310px;
                    height: 160px;
                }

                .new {
                    position: relative;
                    top: -210px;
                    left: 190px;
                }

                .coeur_accueil {
                    position: relative;
                    left: 260px;
                }
            }
        }
    }

    #carte {
        width: 360px;

        img {
            width: 360px;
        }

        .menu__title {
            h1 {
                font-size: 1.8em;
                width: 360px;
                text-align: left;
                padding-left: 20px;
            }
        }

        h2 {
            font-size: 1em;
        }

        .menu {
            width: 360px;
        }

        .menu__composition {
            article {
                width: 310px;
                font-size: 0.8em;
                h3 {
                    font-size: 1.4em;
                }
                .menu__detail {
                    font-size: 1em;
                    .menu__prix {
                        position: relative;
                        left: -20px;
                }

                
                }
            }
        }
    }

    .fa-arrow-left {
        position: relative;
        left: -30px;
    }
}