@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";
@media screen and (max-width: 768px) {
    #body_menu {
        width: 375px;
    }
    header {
        h1 {
            margin: 0;
        }
        .fa-arrow-left {
            position: relative;
            left: -50px;
        }
    }
    #carte {
        img {
            height: 280px;
            margin-top: 5px;
        }
        .menu__title {
            padding-top: 35px;
            h1 {
                font-size: 1.8em;
                font-weight: normal;
                margin-left: 0;
                position: relative;
                left: 20px;
                padding-bottom: 10px;
            }
            .coeur_menu_vide {
                position: relative;
                left: 0;
            }
            .coeur_menu_plein {
                position: relative;
                left: -29px;
            }
        }
        .menu {
            #menu_bouton_commander {
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .menu__composition {
                flex-direction: column;
                h2 {
                    font-size: 1.1em;
                    width: 12%;
                    margin: 0;
                    margin-left: 20px;
                }
                article {
                    width: 315px;
                    padding: 5px 5px 8px 30px;
                    h3,
                    .menu__description {
                        position: relative;
                        left: -20px;
                        width: 300px;
                    }
                    p {
                        font-size: 0.9em;
                    }
                    .menu__prix {
                        position: relative;
                        left: -40px;
                    }
                    .valider {
                        position: relative;
                        top: -42px;
                        left: -78px;
                        height: 76px;
                        width: 62px;
                        transform: translateX(40px);
                        .check {
                            position: relative;
                            top: 30px;
                            left: 20px;
                        }
                    }
                    &:hover {
                        .menu__prix {
                            transform: translateX(-18px);
                        }
                        .valider {
                            transform: translateX(-22px);
                        }
                        .menu__description,
                        h3 {
                            width: 205px;
                            white-space: nowrap;
                        }
                    }
                }
                .menu__nom--long {
                    height: 80px;
                    .valider {
                        height: 95px;
                        position: relative;
                        top: -65px;
                        .check {
                            position: relative;
                            top: 40px;
                        }
                    }
                    &:hover {
                        .valider {
                            position: relative;
                            top: -40px;
                        }
                        .menu__description,
                        .menu__prix {
                            position: relative;
                            top: 25px;
                        }
                    }
                }
            }
        }
    }
    footer {
        h4 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        Li {
            font-size: 0.9em;
        }
    }
}
