@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/keyframes";
@media screen and (max-width: 768px) {
    header {
        h1 {
            margin: 10px 0;
        }
    }
    #body_accueil {
        width: 375px;
        #bg__loading_spinner {
            width: 375px;
            height: 2208px;
            .loader {
                position: relative;
                top: 24%;
                left: 35%;
            }
        }
        footer {
            h4 {
                font-size: 1.5em;
            }
            li {
                margin-left: -40px;
            }
        }
        #reservation,
        #fonctionnement,
        #restaurants {
            width: 100%;
        }
        #fonctionnement {
            h2{
                text-align: left;
                margin-left: 20px;
            }
            .fonctionnement__button {
                width: 320px;
                padding: 25px 20px 25px 0;
                margin-bottom: 20px;
                .fonctionnement__1 {
                    position: relative;
                    left: -45px;
                }
                .fonctionnement__2 {
                    position: relative;
                    left: -63px;
                }
                .fonctionnement__3 {
                    position: relative;
                    left: -55px;
                }
            }
        }
        #restaurants {
            border-radius: 0px;
            h2 {
                text-align: left;
                margin: 0;
                margin-top: 50px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .restaurants__choix {
                height: 1080px;
                padding-bottom: 40px;
                article {
                    width: 335px;
                    height: 245px;
                    margin: 0;
                    .restaurants__pictures {
                        img {
                            width: 335px;
                            height: 160px;
                        }
                    }
                    h3 {
                        font-size: 1.2em;
                    }
                    p {
                        font-size: 1.1em;
                    }
                    .new {
                        position: relative;
                        top: -235px;
                        left: 245px;
                    }
                    .coeur_accueil_vide {
                        position: relative;
                        left: 290px;
                    }
                    .coeur_accueil_plein {
                        position: relative;
                        left: 260px;
                    }
                }
            }
        }
        footer {

            h4 {
                font-size: 1.1em;
                margin-bottom: 0;
            }
            Li {
                font-size: 0.9em;
            }
        }
    }
}
