@import "../Utils/variables";
@import "../Utils/mixins";

@media screen and (max-width: 992px) {
    #body_accueil {
        width: 480px;

        footer {
            h4 {
                font-size: 1.5em;
            }

            li {
                margin-left: -40px;
            }
        }
    }

    #fonctionnement {
        .fonctionnement__button {
            margin-bottom: 40px;
        }
    }

    #restaurants {
        .restaurants__choix {
            height: 1390px;
            padding: 0;
        }

        article {
            h3 {
                font-size: 1.5em;
            }

            p {
                font-size: 1.2em;
            }
        }

    }
}