@import "../Utils/variables";
@import "../Utils/mixins";
@media screen and (min-width: 768px) {
    #body_accueil {
        width: 768px;
        #bg__loading_spinner {
            width: 768px;
            height: 1779px;
            .loader {
                position: relative;
                top: 15%;
                left: 42%;
            }
        }
        #presentation {
            width: 480px;
            border-radius: 25px;
            .presentation__localisation {
                border-radius: 25px 25px 0 0;
            }
        }
        #fonctionnement {
            width: 480px;
            h2 {
                text-align: center;
                margin: 40px 0;
            }
            .fonctionnement__button {
                margin-bottom: 25px;
            }
        }
        #restaurants {
            border-radius: 15px 15px 0 0;
            height: 700px;
            h2 {
                text-align: center;
            }
            .restaurants__choix {
                margin-right: 0;
                height: 650px;
                article {
                    position: relative;
                    left: 25px;
                    width: 300px;
                    margin-bottom: 30px;
                    .restaurants__pictures {
                        img {
                            width: 300px;
                        }
                    }
                    h3 {
                        font-size: 1.3em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                    .new {
                        position: relative;
                        left: 200px;
                    }
                }
                .coeur_accueil {
                    .coeur_accueil_vide {
                        position: relative;
                        left: -65px;
                        top: 195px;
                    }
                    .coeur_accueil_plein {
                        position: relative;
                        left: -94px;
                        top: 195px;
                    }
                }
            }
        }
        footer {
            h1 {
                font-size: 1.5em;
            }
            li {
                margin-left: -40px;
                font-size: 1em;
            }
        }
    }
}
