@import "../Utils/variables";
@import "../Utils/mixins";
@media screen and (max-width: 992px) {
    #body_accueil {
        width: 770px;
        #bg__loading_spinner {
            width: 770px;
            height: 2615px;
            .loader {
                position: relative;
                top: 22%;
                left: 42%;
            }
        }
        footer {
            h4 {
                font-size: 1.5em;
            }
            li {
                margin-left: -40px;
            }
        }
    }
    #fonctionnement {
        .fonctionnement__button {
            margin-bottom: 40px;
        }
    }
    #restaurants {
        .restaurants__choix {
            article {
                h3 {
                    font-size: 1.5em;
                }
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
}
